.slideContainer {
  overflow-y: scroll;
  display: flex;
  padding-right: var(--content-indent);
}

.slideContainer li:not(:last-child) {
  margin-right: 8px;
}

.slideContainer li:first-child {
  margin-left: 16px;
}
